<launch>
  <arg
    name="model" />
  <param
    name="robot_description"
    textfile="$(find revo2_description)/urdf/revo2_right_hand.urdf" />
  <node
    name="joint_state_publisher_gui_revo2_right_hand"
    pkg="joint_state_publisher_gui"
    type="joint_state_publisher_gui" />
  <node
    name="robot_state_publisher_revo2_right_hand"
    pkg="robot_state_publisher"
    type="robot_state_publisher" />
  <node
    name="rviz_revo2_right_hand"
    pkg="rviz"
    type="rviz"
    args="-d $(find revo2_description)/rviz/view_revo2_right_hand.rviz" />
</launch>
